.AppLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: translateX(-10px);
}

.logo > img {
  height: 70px;
  padding: 10px;
}

.logo > h1 {
  z-index: 1;
  color: white;
  font-size: 2.25em;
  font-weight: bold; 
}

.LoginBtn {
  margin-top: 30px;
  text-decoration: none;
  background-color: #00d95f;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 500ms;
}

.LoginBtn:hover {
  background-color: #12b157;  
}