.ItensSearch::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgb(33, 33, 33, 0.3);
    border-radius: 10px;
}

.ItensSearch::-webkit-scrollbar
{
    width: 3px;
	background-color: transparent;
}

.ItensSearch::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#00d95f),
									   to(#00d95f),
									   color-stop(.6,#00d95f))
}

.BuscadorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 70%; */
    width: 600px;
    max-width: 100%;
    margin: 15px auto 40px;
}

.Buscador {
    border: none;
    padding: 0 10px;
    height: 50px;
    font-size: 1.25em;
    width: 100%;
    border-radius: 6px;
    margin: 3px;
    color: #616161;
}

.BuscadorContainer > button {
    border: none;
    background-color: rgb(0, 219, 95);
    height: 51px;
    width: 60px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 500ms;
}

.BuscadorContainer > button > img {
    height: 40px;
}

.BuscadorContainer > button:hover {
  background-color: #12b157;  
}

.realtimeinput {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.realtimeinput > h2 {
    color: #00d95f;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    padding-left: 5px;
    transform: translateY(-25px);
}

.Artista {
    background-color: rgb(33, 33, 33, 0.9);
    margin: 4px;
    border-radius: 4px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
    transition: 500ms;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.Artista:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(0, 217, 95, 1);
    color: #00d95f;
}

.searchpick {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.hiddenObject {
    display: none !important;
}

.playpick {
    position: absolute;
    transform: translateX(-100%);
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 500ms;
    border: solid 1px #00d95f;
    box-shadow: 0px 0px 15px rgb(0, 217, 95, 0.3);
}

.playpick:hover {
    opacity: 1;
}

.searchname {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    color: white;
    overflow: hidden;
    transition: 200ms;
}

.searchtype {
    color: white;
    font-weight: lighter;
    font-size: 10px;
    transform: translateY(10px);
    transition: 100ms;
    max-width: 200px;
    margin: auto;
    
}

.searchname:hover {
    color: #00d95f;
}

.searchtype:hover {
    color: #00d95f;
}

.Itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.IdentifyPlayer {
    opacity: 1;
}

.ItensSearch {
    max-width: 95%;
    margin: auto;
    height: 65vh;
    overflow: auto;
}

.ContainerSearch {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.TypeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}

.PlayingNow {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(0, 217, 95, 1) !important;
}

.PlayingNow > .searchname {
    color: #00d95f;
}

.PlayingNow > .searchtype {
    color: #00d95f;
}

.ProgressMusic {
    background-color: #1b1b1b;
    width: 80%;
    height: 3px;
    transform: translateY(25px);
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -20px;
}

.musicprogressbar {
    background-color: #00d95f;
    width: 0%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.timermusic {
    animation: loading 30000ms;
}

.playanimation {
    animation-play-state: running !important;
}

.pauseanimation {
    animation-play-state: paused !important;
}

.DisplayPause {
    opacity: 0;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}